.searchBar {
  display: flex;
  flex-direction: column;
  position: relative;
}

.searchBar__input {
  background-color: #F0F0FB;
  border: #707070;
  border-radius: 7px;
  padding: 15px;
  padding-left: 45px;
  font-family: 'GothamMedium', serif;
  position: relative;
  color: #B6B9C3;
}

.searchBar__input:focus {
  outline: none;
}

.searchBar__input::placeholder{
  color: #B6B9C3;
}

.searchBar__icon {
  position: absolute;
  transform: translate(0, 60%);
  left: 15px;
  width: 20px;
}

.searchBar__newChat{
  position: absolute;
  transform: translate(0%,16% );
  right: 1%;
  top: 0px;
  border: 0;
  background-color: transparent;
}

.searchBar__newChat > img {
  height: 60px;
}

.searchBar__newChat:focus{
  outline: none;
  cursor: pointer;
 
}
.searchBar__newChat:hover{
  opacity: .8;
}
